        
        <h2 mat-dialog-title>Schedule Meeting</h2>
        <mat-dialog-content class="mat-typography">
    <form [formGroup]="formMeeting">
        <div class="modal-body">
            
            <div class="mb-2">
                <label class="form-label">Date</label>
                <input class="form-control" name="date" formControlName="date" type="date" />
                <small *ngIf="m.date.touched && m.date.invalid" class="error">
                    <div *ngIf="m.date.errors?.required">Date is required.</div>
                </small>
            </div>

            <div class="mb-2">
            <mat-form-field class="example-chip-list w-100">
                <mat-label>Participants</mat-label>
                <mat-chip-grid #chipGrid aria-label="Participant selection">
                  <mat-chip-row *ngFor="let participant of participants" (removed)="removeParticipant(participant)">
                    {{ participant.email }} ({{ participant.role }})
                    <button matChipRemove [attr.aria-label]="'remove ' + participant.email">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                </mat-chip-grid>
              
                <input
                  placeholder="Add participant..."
                  #participantInput
                  [formControl]="participantCtrl"
                  [matChipInputFor]="chipGrid"
                  [matAutocomplete]="auto"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="addParticipant($event)"
                />
              
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedParticipant($event)">
                  <mat-option *ngFor="let c of filteredContacts | async" [value]="c.email">
                    {{ c.email }} - {{ c.role }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
              
        </div>

        <div class="modal-footer">
            <mat-spinner [diameter]="25" *ngIf="processing"></mat-spinner>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button type="submit" class="btn btn-soft-primary waves-effect waves-light mx-2"
  [disabled]="!formMeeting.valid || processing">Submit</button>

</mat-dialog-actions>