<div class="container-fluid">
    <app-page-title title="client Portfolio" [breadcrumbItems]="breadCrumbItems"></app-page-title>


    <div class="row justify-content-end mb-3">
        <div class="col-md-4 text-end">
            <button class="btn btn-soft-primary  waves-effect waves-light mx-2"
                (click)="openCreateNewModal(addNew)">Create Client</button>
            <button class="btn btn-soft-primary  waves-effect waves-light">Import Client</button>
        </div>

    </div>


    <div class="row">
        <div *ngFor="let stat of leadStat" class="col-md-4">
            <app-stat [title]="stat.title" [value]="stat.value" [icon]="stat.icon"></app-stat>
        </div>
    </div>


    <div class="row justify-content-end">
        <div class="col-md-3">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Pacific bank" #input>
            </mat-form-field>
        </div>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>

                <!-- enterprise_id Column -->
                <ng-container matColumnDef="enterprise_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> enterprise_id </th>
                    <td mat-cell *matCellDef="let row"> {{row.enterprise_id}} </td>
                </ng-container>

                <!-- user_id Column -->
                <ng-container matColumnDef="user_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> user_id </th>
                    <td mat-cell *matCellDef="let row"> {{row.user_id}} </td>
                </ng-container>

                <!-- name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>

                <!-- region Column -->
                <ng-container matColumnDef="country">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> country </th>
                    <td mat-cell *matCellDef="let row"> {{row.country}} </td>
                </ng-container>

                <!-- region Column -->
                <ng-container matColumnDef="region">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> region </th>
                    <td mat-cell *matCellDef="let row"> {{row.region}} </td>
                </ng-container>

                <!-- actor_type Column -->
                <ng-container matColumnDef="actor_type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> actor_type </th>
                    <td mat-cell *matCellDef="let row"> {{row.actor_type}} </td>
                </ng-container>

                <!-- current_supplier Column -->
                <ng-container matColumnDef="current_supplier">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> current_supplier </th>
                    <td mat-cell *matCellDef="let row"> {{row.current_supplier}} </td>
                </ng-container>

                <!-- business_competitors Column -->
                <ng-container matColumnDef="business_competitors">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> business_competitors </th>
                    <td mat-cell *matCellDef="let row"> {{row.business_competitors}} </td>
                </ng-container>

                <!-- actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> actions </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-button [matMenuTriggerFor]="menu" #menuTrigger><i
                                class="bx bx-dots-vertical-rounded"></i></button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item><i class="bx bx-book-open"></i> details</button>
                            <button mat-menu-item><i class="bx bx-edit"></i>edit</button>
                            <button mat-menu-item><i class="bx bx-trash"></i>delete</button>
                        </mat-menu>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of clients"></mat-paginator>
        </div>



    </div>
    <!-- end row -->

</div>

<!--  Add new modal example -->
<ng-template #addNew let-modal>
      <div class="modal-header">
            <h5 class="modal-title" id="myLargeModalLabel">Create client</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"      
            (click)="modalRef?.hide()"></button>
          </div>
      <form [formGroup]="form" (ngSubmit)="createClient()">

          <div class="modal-body">
                  <div class="mb-2">
                        <label class="form-label">Name</label>
                        <input class="form-control" name="name" formControlName="name" type="text"
                    placeholder="Enter name">
                        <small *ngIf="f.name.touched && f.name.invalid" class="error">

                              <div *ngIf="f.name.errors.required">Name is required.</div>
                              <div *ngIf="f.name.errors.maxlength">Name should be less than 64 characters.</div>
                              <div *ngIf="f.name.errors.minlength">Name should be atleast 1 character.</div>
                            </small>
                   </div>
            <div class="mb-2">
                  <label class="form-label">business_competitors</label>
                <select class="form-select" name="business_competitors" formControlName="business_competitors">
                    <option value="">Select</option>
                    <option value="ABF Inc">ABF Inc</option>
                    <option value="MonetLab">MonetLab</option>
                </select>
            </div>
              <div class="mb-2">
                  <label class="form-label">actor_type</label>
                <select class="form-select" name="actor_type" formControlName="actor_type">
                    <option value="">Select</option>
                    <option value="Microfinace ">Microfinace</option>
                    <option value="Bank">Bank</option>
                    <option value="FinTech">FinTech</option>

                </select>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-2">
                          <label class="form-label">country</label>
                        <select class="form-select" name="country" formControlName="country">
                            <option value="">Select</option>
                            <option value="Cameroon ">Cameroon</option>
                            <option value="Gabon">Gabon</option>
                            <option value="Congo Brazzavile">Congo Brazzavile</option>
        
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-2">
                          <label class="form-label">region</label>
                        <select class="form-select" name="region" formControlName="region">
                            <option value="">Select</option>
                            <option value="Cameroon ">Central Africa</option>
                            <option value="Gabon">West Africa</option>
                            <option value="Congo Brazzavile">East Africa</option>
        
                        </select>
                    </div>
                       
                </div>
            </div>
          
         
             
        </div>
          <div class="modal-footer">
                <mat-spinner [diameter]="25" *ngIf="this.processing"></mat-spinner>

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                (click)="modalRef?.hide()">Close</button>
                <button type="submit" class="btn btn-soft-primary  waves-effect waves-light mx-2" mat-raised-button [disabled]="!form.valid  || (processing)"      
                class="btn btn-primary">Submit</button>
              </div>
    </form>
</ng-template><!-- /.modal -->