<div class="container-fluid">
    <app-page-title title="lead Portfolio" [breadcrumbItems]="breadCrumbItems"></app-page-title>


    <div class="row justify-content-start mb-3">
        <div class="col-md-4 text-start">
            <button class="btn btn-primary  waves-effect waves-light mx-2" (click)="openCreateNewModal(addNew)">+ Create
                Lead</button>
            <button class="btn btn-soft-primary  waves-effect waves-light mx-2" (click)="openImport(import)"><i
                    class="bx bx-upload"></i> Import Lead</button>
            <button class="btn btn-soft-primary  waves-effect waves-light" (click)="exporter.exportTable('csv')"><i
                    class="bx bx-download"></i> Export
                Lead</button>

        </div>

    </div>

    <div class="row justify-content-end">
        <div class="col-md-9 my-4">
      <mat-chip-listbox> 
  <mat-chip *ngFor="let status of statuses"
            [selected]="selectedStatus === status"
            (click)="selectStatus(status)"
            [ngClass]="{
              'chip-selected': selectedStatus === status,
              'chip-unselected': selectedStatus !== status
            }">
    {{ status }}
  </mat-chip>
</mat-chip-listbox>


        </div>
        <div class="col-md-3">
            <mat-form-field matTooltip="Enter a prospect name">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Pacific bank" #input>
            </mat-form-field>
        </div>
        <div class="card">
            <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows matTableExporter
                #exporter="matTableExporter">

                <!-- owner Column -->
                <ng-container matColumnDef="created_by_user_id" *ngIf="this.user.role !='solo_business_developer'">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="The creator of this lead"> owner
                    </th>
                    <td mat-cell *matCellDef="let row"> {{row.creator.first_name}} </td>
                </ng-container>

                <!-- name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
                    <td mat-cell *matCellDef="let row"> <b>{{row.name}}</b> <br>
                        <div class="row" *ngIf="hoveredRow === row">
                            <div class="col-12 py-2">
                                <span class="action-details-btn" (click)="goToDetails(row)"><i
                                        class="bx bx-book-open"></i>
                                    Details
                                </span>
                                <span class="action-delete-btn" (click)="confirmDelete(row.id)"><i
                                        class="bx bx-trash"></i>delete</span>
                            </div>

                        </div>
                    </td>

                </ng-container>

                <!-- name Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
                    <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                </ng-container>


                <!-- country Column -->
                <ng-container matColumnDef="Country_idCountry">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> country </th>
                    <td mat-cell *matCellDef="let row"> {{row.Country.short_name}} </td>
                </ng-container>



                <!-- actor_type Column -->
                <ng-container matColumnDef="activitySector">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> activitySector </th>
                    <td mat-cell *matCellDef="let row"> {{row.activitySector}} </td>
                </ng-container>

                <!-- is_private Column -->
                <ng-container matColumnDef="is_private" *ngIf="this.user.role !='solo_business_developer'">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Privacy </th>
                    <td mat-cell *matCellDef="let row">
                        <span matTooltip="public" *ngIf="row.is_private" style="font-size: 32px;" class="text-primary">
                            <i class="bx bx-lock"></i></span>
                        <span matTooltip="private" *ngIf="!row.is_private" style="font-size: 32px;" class="text-info"><i
                                class="bx bx-lock-open"></i></span>

                    </td>
                </ng-container>
                <!-- status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let row"> {{row.status | uppercase}} </td>
                </ng-container>

                <!-- source Column -->
                <ng-container matColumnDef="source">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> source </th>
                    <td mat-cell *matCellDef="let row"> {{row.Source.label}} </td>
                </ng-container>

                <!-- actions Column 
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> actions </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-button [matMenuTriggerFor]="menu" #menuTrigger><i
                                class="bx bx-dots-vertical-rounded"></i></button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="goToDetails(row)"><i class="bx bx-book-open" ></i> details</button>
                            <button mat-menu-item (click)="confirmDelete()"><i class="bx bx-trash"></i>delete</button>
                        </mat-menu>

                    </td>
                </ng-container>-->

                <tr mat-row *matRowDef="let row; columns: displayedColumns" (mouseenter)="hoveredRow = row"
                    (mouseleave)="hoveredRow = null">
                </tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>


                <!-- Row shown when data is being fetched. -->
                <mat-spinner *ngIf="isLoading"></mat-spinner>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>

            <mat-paginator [length]="totalLeads" [pageSize]="limit" [pageSizeOptions]="[5, 10, 25, 100]"
                showFirstLastButtons (page)="onPageChange($event)">
            </mat-paginator>

        </div>



    </div>
    <!-- end row -->

</div>


<!-- Import lead modal  -->
<ng-template #createLeadDialog>
    <h2 mat-dialog-title>Create New Lead</h2>
    <mat-dialog-content>
        <p>Mat table within component</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-flat-button color="primary" (click)="saveLead()">Save</button>
    </mat-dialog-actions>
</ng-template>


<!--  Add new modal example -->
<ng-template #addNew let-modal>
      <div class="modal-header">
            <h5 class="modal-title" id="myLargeModalLabel">Create lead</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"      
            (click)="modalRef?.hide()"></button>
          </div>
    <div class="modal-body">
          <form class=" mb-4" [formGroup]="basicInfoForm">
            <div class="row">
                <div class="col-md-6">
                    <!-- name -->
                    <div class="mb-3 row">
                        <label for="example-name" class="col-md-2 col-form-label font-size-11">Name</label>
                        <div class="col-md-10">
                            <input class="form-control" name="name" formControlName="name" type="text">
                            <small *ngIf="f.name.touched && f.name.invalid" class="error">
                                  <div *ngIf="f.name.errors.required">name is required.</div>
                                <div *ngIf="f.name.errors.maxLength">Max length is 100.</div>

                            </small>
                        </div>
                    </div>
                    <!-- email -->
                    <div class="mb-3 row">
                        <label for="example-name" class="col-md-2 col-form-label font-size-11">Email</label>
                        <div class="col-md-10">
                            <input class="form-control" name="email" formControlName="email" type="email">
                            <small *ngIf="f.email.touched && f.email.invalid" class="error">
                                  <div *ngIf="f.email.errors.required">email is required.</div>
                                <div *ngIf="f.email.errors.email">email is invalid.</div>

                            </small>
                        </div>
                    </div>
                    <!-- telephone -->
                    <div class="mb-3 row">
                        <label for="example-tel-input" class="col-md-2 col-form-label font-size-11">Telephone</label>
                        <div class="col-md-10">
                            <input class="form-control" name="telephone" formControlName="telephone" type="text">
                        </div>
                    </div>
                    <!-- website -->
                    <div class="mb-3 row">
                        <label for="example-name" class="col-md-2 col-form-label font-size-11">website</label>
                        <div class="col-md-10">
                            <input class="form-control" name="website" formControlName="website" type="text">
                        </div>
                    </div>

                    <!-- address -->
                    <div class="mb-3 row">
                        <label for="example-name" class="col-md-2 col-form-label font-size-11">Address</label>
                        <div class="col-md-10">
                            <input class="form-control" name="address" formControlName="address" type="text">
                        </div>
                    </div>
                    <!-- town -->
                    <div class="mb-3 row">
                        <label for="example-name" class="col-md-2 col-form-label font-size-11">Town</label>
                        <div class="col-md-10">
                            <input class="form-control" name="town" formControlName="town" type="text">
                        </div>
                    </div>
                    <!-- activitySector -->
                    <div class="mb-3 row">
                        <label for="example-name" class="col-md-2 col-form-label font-size-11">Activity Sector</label>
                        <div class="col-md-10">
                            <input class="form-control" name="activitySector" formControlName="activitySector"
                                type="text">
                            <small *ngIf="f.activitySector.touched && f.activitySector.invalid" class="error">
                                  <div *ngIf="f.activitySector.errors.required">activitySector is required.</div>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- lead value -->
                    <div class="mb-3 row">
                        <label for="example-name" class="col-md-2 col-form-label font-size-11">Lead
                            value</label>
                        <div class="col-md-10">
                            <input class="form-control" name="lead_value" formControlName="lead_value" type="text">
                        </div>
                    </div>

                    <!-- date_converted -->
                    <div class="mb-3 row">
                        <label for="example-datetime-local-input"
                            class="col-md-2 col-form-label font-size-11">Source</label>
                        <div class="col-md-10">
                            <select class="form-select" name="source" formControlName="source">
                                <option *ngFor="let source of this.sourceList" value={{source.idSource}}>
                                    {{source.label}}</option>
                            </select>
                        </div>

                    </div>

                    <!-- is_private -->

                    <div class="row">
                        <label for="example-datetime-local-input" class="col-md-2 col-form-label font-size-11">Is
                            private</label>
                        <div class="col-md-10">
                            <mat-radio-group name="is_private" formControlName="is_private"
                                aria-label="Select an option">
                                <mat-radio-button value='Yes'>Yes</mat-radio-button>
                                <mat-radio-button value='No'>No</mat-radio-button>
                            </mat-radio-group>
                        </div>


                    </div>
                    <!-- country -->
                    <div class="mb-3 row">
                        <label for="example-datetime-local-input"
                            class="col-md-2 col-form-label font-size-11">Status</label>
                        <div class="col-md-10">
                            <select class="form-select" name="status" formControlName="status">
                                <option *ngFor="let status of this.statusList" value={{status}}>
                                    {{status}}</option>
                            </select>
                        </div>

                    </div>
                    <!-- country -->
                    <div class="mb-3 row">
                        <label for="example-datetime-local-input"
                            class="col-md-2 col-form-label font-size-11">Country</label>
                        <div class="col-md-10">
                            <select class="form-select" name="country" formControlName="country">
                                <option *ngFor="let country of this.countryList" value={{country.idCountry}}>
                                    {{country.short_name}}</option>
                            </select>
                        </div>

                    </div>
                    <!-- tags -->
                    <div class="mb-3 row">
                        <div class="col-md-2">
                            <label for="example-datetime-local-input" class="col-form-label font-size-11">Tags</label>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <mat-form-field class="example-form-field">
                                    <mat-label>Tags</mat-label>
                                    <mat-chip-grid #chipGrid aria-label="Enter keywords" formControlName="tags">
                                        <mat-chip-row *ngFor="let keyword of tags" (removed)="removeKeyword(keyword)">
                                            {{keyword}}
                                            <button matChipRemove aria-label="'remove ' + keyword">
                                                <mat-icon>cancel</mat-icon>
                                            </button>
                                        </mat-chip-row>
                                    </mat-chip-grid>
                                    <input placeholder="New ta..." [matChipInputFor]="chipGrid"
                                        (matChipInputTokenEnd)="add($event)" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- description -->
                    <div class="mb-3 row">
                        <label for="example-datetime-local-input"
                            class="col-md-2 col-form-label font-size-11">Description</label>

                        <ckeditor formControlName="description" name="description" [editor]="Editor" data="">
                        </ckeditor>

                    </div>

                </div>
                <!-- buttons -->
                <div class="mb-3 row">
                    <div class="col-md-10">
                        <button mat-raised-button (click)="createLead()"
                            [disabled]="!basicInfoForm.valid || isLoading">Save</button>
                    </div>
                </div>
            </div>



        </form>
    </div>
</ng-template><!-- /.modal -->



<!-- Import lead modal  -->
<ng-template #import let-modal>
      <div class="modal-header">
            <h5 class="modal-title" id="myLargeModalLabel">Create lead</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"      
            (click)="modalRef?.hide()"></button>
          </div>
      <div class="modal-body">
        <h6 class="text-center">You can import a list of leads here, download the file example below</h6>
        <p class="text-center"><a href="#" class="text-center">Example File</a></p>

    </div>
    <div class="modal-footer">
            <mat-spinner [diameter]="25" *ngIf="this.processing"></mat-spinner>

            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="modalRef?.hide()">Close</button>
            <button type="submit" class="btn btn-soft-primary  waves-effect waves-light mx-2" mat-raised-button    
             class="btn btn-primary">Submit</button>
          </div>

</ng-template>