<!-- Register Candidate -->
<div class="container-fluid">
    <div class="container pt-4">
        <div class="row">
            <div class="col-md-6">
                <img src="../../assets/images/laptop-img.png" class="img-fluid"  alt="" srcset="">
            </div>
            
            <div class="col-md-6">
                <h5 class="text-center">Register</h5>
            <div type="danger" class="alert alert-danger" *ngIf="this.errorMsg.length">
                
                <p *ngFor="let msg of this.errorMsg">{{msg}}</p>
            </div>
                <form [formGroup]="form" (ngSubmit)="registerFun()">
               
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="example-text-input" class="col-md-2 col-form-label">Firstname</label>
                            <div class="col-md-10">
                                <input name="firstname" formControlName="firstname" class="form-control" type="text" placeholder=""
                                    id="example-text-input">
                                    <div *ngIf="f.firstname.touched && f.firstname.invalid" class="alert alert-danger mt-1">

                                        <div *ngIf="f.firstname.errors.required">firstname is required.</div>
                                        <div *ngIf="f.firstname.errors.maxlength">firstname should be less than 64 characters.</div>
                                        <div *ngIf="f.firstname.errors.minlength">firstname can't be empty.</div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="example-text-input" class="col-md-2 col-form-label">Lastname</label>
                            <div class="col-md-10">
                                <input name="lastname" formControlName="lastname" class="form-control" type="text" placeholder=""
                                    id="example-text-input">
                                    <div *ngIf="f.lastname.touched && f.lastname.invalid" class="alert alert-danger mt-1">

                                        <div *ngIf="f.lastname.errors.required">lastname is required.</div>
                                        <div *ngIf="f.lastname.errors.maxlength">lastname should be less than 64 characters.</div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="example-text-input" class="col-md-2 col-form-label">Email</label>
                    <div class="col-md-10">
                        <input formControlName="email" name="email" class="form-control" type="email" value="mikaelchimera@gmail.com"
                            id="example-text-input">
                            <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger mt-1">

                                <div *ngIf="f.email.errors.required">firstname is required.</div>
                                <div *ngIf="f.email.errors.email">Invalide email.</div>
                            </div>
                    </div>
                </div>
                     
                <div class="mb-3">
                    <label for="example-password-input" class="col-md-2 col-form-label">phoneNumber</label>
                    <div class="col-md-10">
                        <input formControlName="phoneNumber" name="phoneNumber" class="form-control" type="text"  id="example-password-input">
                        <div *ngIf="f.phoneNumber.touched && f.phoneNumber.invalid" class="alert alert-danger mt-1">

                            <div *ngIf="f.phoneNumber.errors.required">phoneNumber is required.</div>
                            <div *ngIf="f.phoneNumber.errors.maxlength">phoneNumber should be less than 64 characters.</div>
                            <div *ngIf="f.phoneNumber.errors.minlength">phoneNumber can't be 1 character</div>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="example-password-input" class="col-md-2 col-form-label">national Id Number</label>
                    <div class="col-md-10">
                        <input formControlName="nationalIdNumber" name="nationalIdNumber" class="form-control" type="text"  id="example-password-input">
                        <div *ngIf="f.nationalIdNumber.touched && f.nationalIdNumber.invalid" class="alert alert-danger mt-1">

                            <div *ngIf="f.nationalIdNumber.errors.required">nationalIdNumber is required.</div>
                            <div *ngIf="f.nationalIdNumber.errors.maxlength">nationalIdNumber should be less than 64 characters.</div>
                            <div *ngIf="f.nationalIdNumber.errors.minlength">nationalIdNumber can't be 1 character</div>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="example-password-input" class="col-md-2 col-form-label">Password</label>
                    <div class="col-md-10">
                        <input formControlName="password" name="password" class="form-control" type="password"  id="example-password-input">
                        <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger mt-1">

                            <div *ngIf="f.password.errors.required">password is required.</div>
                            <div *ngIf="f.password.errors.maxlength">password should be less than 64 characters.</div>
                            <div *ngIf="f.password.errors.minlength">password can't be 1 character</div>
                        </div>
                    </div>
                </div>

               

                <button (click)="registerFun()" type="button" class="btn btn-primary btn-lg mb-3">Register</button>


                <p>You already have an account <span class="text-primary" (click)="geTolLogin()">Login</span></p>
            </form>
            </div>
        </div>
    </div>
</div>
