<div class="card p-3">
    <div class="row ">
        <div class="col-md-9 my-4">
            <button mat-raised-button class="btn btn-primary  waves-effect waves-light mx-2"
                (click)="openMatModal(meetingForm)">Create
                Meeting</button>

            <button class="btn btn-soft-primary  waves-effect waves-light" (click)="exporter.exportTable('csv')"><i
                    class="bx bx-download"></i> Export
                Meetings</button>
        </div>
        <div class="col-md-3">
            <mat-form-field matTooltip="Enter a prospect name">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="..." #input>
            </mat-form-field>
        </div>
    </div>
    <ng-template tabHeading>
        <span class="d-none d-sm-block tabheading"><i class="bx bx-user"></i>
            Meeting</span>
    </ng-template>
    <div class="tab-page-content">
        <div class="card">
            <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows matTableExporter
                #exporter="matTableExporter">
                <!-- title Column -->
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> title </th>
                    <td mat-cell *matCellDef="let row"> <b>{{row.title}}</b>
                    </td>

                </ng-container>

                <!-- status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> status </th>
                    <td mat-cell *matCellDef="let row"> {{row.status}} </td>
                </ng-container>

                <!-- due_date Column -->
                <ng-container matColumnDef="due_date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> due_date </th>
                    <td mat-cell *matCellDef="let row"> {{row.due_date | date}} </td>
                </ng-container>

                <!-- next_action_date Column -->
                <ng-container matColumnDef="next_action_date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> next_action_date </th>
                    <td mat-cell *matCellDef="let row"> {{row.next_action_date | date}} </td>
                </ng-container>


                <!-- actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> actions </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-button [matMenuTriggerFor]="menu" #menuTrigger><i
                                class="bx bx-dots-vertical-rounded"></i></button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="openMatModal(meetingForm, row)"><i class="bx bx-pen"></i> Edit</button>
                            <button mat-menu-item (click)="confirmDelete()"><i class="bx bx-trash"></i>delete</button>
                        </mat-menu>

                    </td>
                </ng-container>

                <tr mat-row *matRowDef="let row; columns: displayedColumns">
                </tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>


                <!-- Row shown when data is being fetched. -->
                <mat-spinner *ngIf="isLoading"></mat-spinner>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter
                        "{{input.value}}"</td>
                </tr>
            </table>

            <mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                (page)="onPageChange($event)">
            </mat-paginator>

        </div>
    </div>

    <div class="row">

    </div>
</div>



<ng-template #meetingForm>
    <h2 mat-dialog-title>{{ isEditMode ? 'Edit Meeting' : 'Create Meeting' }}</h2>
    <mat-dialog-content>
         <form class="mb-4" [formGroup]="basicInfoForm">
            <div class="row">
                 <!-- title Name -->
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label font-size-11">Title</label>
                        <div class="col-md-10">
                            <input class="form-control" name="title" formControlName="title" type="text">
                            <small *ngIf="f.title.touched && f.title.invalid" class="error">
                                <div *ngIf="f.title.errors?.required">title name is required.</div>
                            </small>
                        </div>
                    </div>
                     <!-- next_action action -->
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label font-size-11">Next action</label>
                        <div class="col-md-10">
                            <input class="form-control" name="next_action" formControlName="next_action" type="text">
                            <small *ngIf="f.next_action.touched && f.next_action.invalid" class="error">
                                <div *ngIf="f.next_action.errors?.required">next_action is required.</div>
                            </small>
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                   
                    <!-- due_date -->
                    <div class="mb-3 row">
                        <label class="col-md-4 col-form-label font-size-11">Due date</label>
                        <div class="col-md-8">
                            <input class="form-control" name="due_date" formControlName="due_date" type="date">

                        </div>
                    </div>

                    <!-- status -->
                    <div class="mb-3 row" *ngIf="this.isEditMode">
                        <label class="col-md-4 col-form-label font-size-11">Status</label>
                        <div class="col-md-8">
                            <select class="form-select" name="status" formControlName="status">
                                <option value={{this.followup.status}}>
                                    {{this.followup.status}}</option>
                                <option *ngFor="let status of this.statuses" value={{status}}>
                                    {{status}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <!-- next_action_date -->
                    <div class="mb-3 row">
                        <label class="col-md-4 col-form-label font-size-11">next action date</label>
                        <div class="col-md-8">
                            <input class="form-control" name="next_action_date" formControlName="next_action_date"
                                type="date">
                        </div>
                    </div>


                </div>
            </div>

            <div class="row mt-3">
                <!-- Add your form fields here -->
                <mat-form-field class="example-chip-list">
                    <mat-label>Participants</mat-label>
                    <mat-chip-grid #chipGrid aria-label="email selection">
                        <mat-chip-row *ngFor="let email of emails" (removed)="remove(email)">
                            {{email}}
                            <button matChipRemove [attr.aria-label]="'remove ' + email">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                    </mat-chip-grid>
                    <input placeholder="New email..." #emailInput [formControl]="emailCtrl" [matChipInputFor]="chipGrid"
                        [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="add($event)" />
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let email of filteredEmails | async" [value]="email">
                            {{email}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <!-- summary (full-width) -->
            <div class="row mt-3" *ngIf="this.isEditMode">
                <div class="col-md-2">
                    <label class="col-form-label font-size-11">Summary</label>
                </div>
                <ckeditor formControlName="summary" name="summary" [editor]="Editor" data=""></ckeditor>

            </div>

        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" [disabled]="basicInfoForm.invalid || isLoading"
            (click)="submit()">Submit</button>
    </mat-dialog-actions>
</ng-template>