<div class="container-fluid">
    {{case.current_supplier}}
        <!-- breadcrumb item -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <div class="page-title-left">
                    <ol class="breadcrumb m-0">
                        <ng-container>
<!--                             <li class="breadcrumb-item"><a href="javascript: void(0);">{{ this.case.lead_id}}</a>
                             </li>-->
                            <li class="breadcrumb-item active">
                            </li>
                        </ng-container>
                    </ol>
                </div>
                <button class="btn btn-danger" matTooltip="close" (click)="gotoCaseManagement()"><i class="bx bx-x"></i></button>

            </div>
        </div>
    </div>


    <div class="row mx-2">
        <div class="col-md-7 text-end">

            <input class="form-control form-control-lg mb-2" type="text" 
                id="example-text-input">
            <div class="row mt-4">

                <div *ngFor="let stat of singleCaseStat" class="col-md-4">
                    <app-stat [title]="stat.title" [value]="stat.value" [icon]="stat.icon"></app-stat>
                </div>
            </div>
            <div class="row  mb-3">
                <div class="col-12">
                    <button class="btn btn-soft-primary  waves-effect waves-light mx-2"
                        (click)="openCreateNewModalActivity(addNewActivity)">Add Activity</button>
                    <button class="btn btn-soft-primary  waves-effect waves-light"
                        (click)="exporter.exportTable('csv')">Export Activities</button>
                </div>


            </div>
            <table mat-table [dataSource]="dataSourceActivity" multiTemplateDataRows matTableExporter
                #exporter="matTableExporter" class="mat-elevation-z8">
                <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplayActivity">
                    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                </ng-container>
                <ng-container matColumnDef="expand">
                    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button aria-label="expand row"
                            (click)="toggleExpandActivity(element); $event.stopPropagation()">
                            <mat-icon *ngIf="expandedElementActivity !== element">keyboard_arrow_down</mat-icon>
                            <mat-icon *ngIf="expandedElementActivity === element">keyboard_arrow_up</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpandActivity.length">
                        <div class="example-element-detail"
                            [@detailExpand]="element == expandedElementActivity ? 'expanded' : 'collapsed'">

                            <div class="example-element-description">
                                <div class="row">
                                    <div class="col-8">
                                        <div><b>Summary</b></div>
                                        {{element.action_detail}}
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis alias dolores
                                        dolorum nostrum a pariatur explicabo exercitationem voluptatibus, distinctio
                                        eius corrupti sequi inventore in culpa porro placeat assumenda, consectetur
                                        illum?
                                        <!-- <span class="example-element-description-attribution"> -- Next Action </span> -->


                                    </div>
                                    <div class="col-4">
                                        <button (click)="openEditModalActivity(editActivity, element)"
                                            class="btn btn-soft-info mx-2">
                                            <i class="bx bxs-edit"></i>
                                        </button>
                                        <button class="btn btn-soft-info mx-2">
                                            <i class="bx bx-share-alt"></i>
                                        </button>
                                        <button class="btn btn-soft-danger mx-2">
                                            <i class="bx bx-trash"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpandActivity"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpandActivity;"
                    class="example-element-row" [class.example-expanded-row]="expandedElementActivity === element"
                    (click)="expandedElementActivity = expandedElementActivity === element ? null : element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>

        </div>

        <div class="col-md-5">
            <accordion [isAnimated]="true" class="accordion custom-accordion" [closeOthers]="true">
                <accordion-group [isOpen]="isFirstOpen" heading="Basic Infos" class="accordion-item" #flush1>
                    <span accordion-heading class="float-end fs-5">
                        <i class="mdi"
                            [ngClass]="!flush1?.isOpen ? 'mdi mdi-chevron-down accor-plus-icon': 'mdi mdi-chevron-up accor-plus-icon'"></i>
                    </span>
                    <div class="text-muted">

                        <!-- START BASIC FOLLOWUP INFOS FORM -->
                        <form class="row mb-4" [formGroup]="basicInfoForm">
                            <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-2 col-form-label font-size-11">Source 
                                </label>
                                <div class="col-md-10">
                                    <select class="form-select" name="lead_id" formControlName="lead_id">
                                        <option *ngFor="let lead of leads" value={{lead}}>
                                            {{lead}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="example-datetime-local-input"
                                    class="col-md-2 col-form-label font-size-11">Product</label>
                                <div class="col-md-10">
                                    <select class="form-select" name="product_id" formControlName="product_id">
                                        <option *ngFor="let product of products" value={{product.id}}>
                                            {{product.name}}</option>
                                    </select>
                                </div>
                            </div>
                         <!--    <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-2 col-form-label font-size-11">source</label>
                                <div class="col-md-10">
                                    <select class="form-select" name="source" formControlName="source">
                                        <option *ngFor="let source of this.getAllSources()" value={{source}}>
                                            {{source}}</option>
                                    </select>
                                </div>
                            </div> -->
                            <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-2 col-form-label font-size-11">case_started_date.</label>
                                <div class="col-md-10">
                                    <input class="form-control" formArrayName="case_started_date" type="date" value={{case.case_started_date}}>

                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-2 col-form-label font-size-11">Supplier</label>
                                <div class="col-md-10">
                                    <input class="form-control" value={{case.current_supplier}} formControlName="current_supplier" type="text" >
                                </div>
                            </div>
                           
                            <div class="mb-3 px-4 row">
                                <button class=" text-center btn btn-block btn-lg btn-soft-primary"><i
                                        class="bx bx-save"></i> Save</button>
                            </div>
                        </form>

                        <!-- END BASIC FOLLOWUP INFOS FORM -->
                    </div>
                </accordion-group>
                <accordion-group heading="Meeting history" class="accordion-item" #flush2>
                    <span accordion-heading class="float-end fs-5">
                        <i class="mdi"
                            [ngClass]="!flush2?.isOpen ? 'mdi mdi-chevron-down accor-plus-icon': 'mdi mdi-chevron-up accor-plus-icon'"></i>
                    </span>

                    <!-- START MEETINGS HISTORY -->
                    <button (click)="openScheduleMeeting()" class="btn btn-soft-primary  waves-effect waves-light mb-2 mx-2">Schedule Meeting</button>

                    <button class="btn btn-soft-primary  waves-effect waves-light mb-2"
                        (click)="meetingExporter.exportTable('csv')">Export</button>


                    <table mat-table [dataSource]="dataSourceMeeting" multiTemplateDataRows matTableExporter
                        #meetingExporter="matTableExporter" class="mat-elevation-z8">

                        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplayMeeting">
                            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                        </ng-container>
                        <ng-container matColumnDef="expand">
                            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button aria-label="expand row"
                                    (click)="toggleExpandMeeting(element); $event.stopPropagation()">
                                    <mat-icon *ngIf="expandedElementMeeting !== element">keyboard_arrow_down</mat-icon>
                                    <mat-icon *ngIf="expandedElementMeeting === element">keyboard_arrow_up</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                        <ng-container matColumnDef="expandedDetail">
                            <td mat-cell *matCellDef="let element"
                                [attr.colspan]="columnsToDisplayWithExpandMeeting.length">
                                <div class="example-element-detail"
                                    [@detailExpand]="element == expandedElementMeeting ? 'expanded' : 'collapsed'">

                                    <div class="example-element-description">
                                        <div class="row">
                                            <div class="col-7">
                                                <div><b>Summary</b></div>
                                                {{element.Summary}}
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis alias
                                                dolores
                                                dolorum nostrum a pariatur explicabo exercitationem voluptatibus,
                                                distinctio
                                                eius corrupti sequi inventore in culpa porro placeat assumenda,
                                                consectetur
                                                illum?
                                                <!-- <span class="example-element-description-attribution"> -- Next Action </span> -->


                                            </div>
                                            <div class="col-5">
                                                <button class="btn btn-soft-info mx-1"
                                                    (click)="openEditMeetingReport(editMeetingReport,element)">
                                                    
                                                    <i class="bx bxs-edit"></i>
                                                </button>
                                                <button class="btn btn-soft-info mx-1">
                                                    <i class="bx bx-share-alt"></i>
                                                </button>
                                                <button class="btn btn-soft-danger mx-1">
                                                    <i class="bx bx-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpandMeeting"></tr>
                        <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpandMeeting;"
                            class="example-element-row"
                            [class.example-expanded-row]="expandedElementMeeting === element"
                            (click)="expandedElementMeeting = expandedElementMeeting === element ? null : element">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                    </table>
                    <!-- END MEETINGS HISTORY -->

                </accordion-group>
                <accordion-group heading="Contacts" class="accordion-item" #flush3>
                    <span accordion-heading class="float-end fs-5">
                        <i class="mdi"
                            [ngClass]="!flush3?.isOpen ? 'mdi mdi-chevron-down accor-plus-icon': 'mdi mdi-chevron-up accor-plus-icon'"></i>
                    </span>
                    <div class="text-muted">
                        <!-- START CONTACT TABLE -->
                        <div class="row justify-content-start">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>Filter</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="John Koe" #input>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-soft-primary btn-lg waves-effect waves-light"
                                    (click)="contactExporter.exportTable('csv')">Export</button>

                            </div>
                        </div>



                        <table mat-table [dataSource]="dataSourceContact" matSort matTableExporter
                            #contactExporter="matTableExporter">

                            <!-- name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
                                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                            </ng-container>

                            <!-- role Column -->
                            <ng-container matColumnDef="role">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> role </th>
                                <td mat-cell *matCellDef="let row"> {{row.role}} </td>
                            </ng-container>

                            <!-- email Column 
                                    <ng-container matColumnDef="email">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
                                        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                                    </ng-container> -->

                            <!-- phone Column 
                                     <ng-container matColumnDef="phone">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> phone </th>
                                        <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
                                    </ng-container>-->


                            <!-- actions Column -->
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> actions </th>
                                <td mat-cell *matCellDef="let row">

                                    <button mat-button [matMenuTriggerFor]="menu" #menuTrigger>
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="openContactDetails(row)">
                                            <i class="bx bx-book-open"></i> details
                                        </button>

                                        <button mat-menu-item (click)="edit(row)">
                                            <i class="bx bx-edit"></i> edit
                                        </button>
                                        <button mat-menu-item (click)="delete(row)">
                                            <i class="bx bx-trash"></i> delete
                                        </button>
                                    </mat-menu>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsContact"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsContact;"></tr>

                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                            </tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                            aria-label="Select page of contacts"></mat-paginator>


                        <!-- END CONTACT TABLE -->
                    </div>
                </accordion-group>
            </accordion>

        </div>

    </div>


</div>

<!--  Modals   -->

<!--  Add new modal activity start -->
<ng-template #addNewActivity let-modal>
      <div class="modal-header">
            <h5 class="modal-title" id="myLargeModalLabel">Add Activity</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modalRef?.hide()"></button>
          </div>
      <form [formGroup]="formActivity" (ngSubmit)="addActivity()">

          <div class="modal-body">
                  <div class="mb-2">
                        <label class="form-label">action_detail</label>
                        <input class="form-control" name="action_detail" formControlName="action_detail" type="text"
                    placeholder="Enter name">
                        <small *ngIf="f.action_detail.touched && f.action_detail.invalid" class="error">

                              <div *ngIf="f.action_detail.errors.required">action_detail is required.</div>
                            </small>
            </div>
              <div class="mb-2">
                        <label class="form-label">last_action</label>
                        <input class="form-control" name="last_action" formControlName="last_action" type="text"
                    placeholder="Enter name">
                        <small *ngIf="f.last_action.touched && f.last_action.invalid" class="error">

                              <div *ngIf="f.last_action.errors.required">last_action is required.</div>
                            </small>
            </div>

            <div class="mb-2">
                       
                <label for="example-datetime-local-input" class="col-md-2 col-form-label">last_action_date</label>
                <input class="form-control" name="last_action_date" formControlName="last_action_date" type="date">
                        <small *ngIf="f.last_action_date.touched && f.last_action_date.invalid" class="error">

                              <div *ngIf="f.last_action_date.errors.required">last_action_date is required.</div>
                            </small>
            </div>
            <div class="mb-2">
                        <label class="form-label">next_action</label>
                        <input class="form-control" name="next_action" formControlName="next_action" type="text"
                    placeholder="Enter next_action">
                        <small *ngIf="f.next_action.touched && f.next_action.invalid" class="error">

                              <div *ngIf="f.next_action.errors.required">next_action is required.</div>
                            </small>
            </div>

        </div>
          <div class="modal-footer">
                <mat-spinner [diameter]="25" *ngIf="this.processing"></mat-spinner>

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                (click)="modalRef?.hide()">Close</button>
                <button type="submit" class="btn btn-soft-primary  waves-effect waves-light mx-2" mat-raised-button
                [disabled]="!formActivity.valid  || (processing)"       class="btn btn-primary">Submit</button>
              </div>
    </form>
</ng-template>
<!-- Add new modal activity End -->


<!-- Edit new modal activity start -->
<ng-template #editActivity let-modal>
      <div class="modal-header">
            <h5 class="modal-title" id="myLargeModalLabel">Edit Activity</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modalRef?.hide()"></button>
          </div>
      <form [formGroup]="formActivity" (ngSubmit)="editActivity()">
          <div class="modal-body">
                  <div class="mb-2">
                        <label class="form-label">action_detail</label>
                        <input class="form-control" name="action_detail" formControlName="action_detail" type="text"
                    placeholder="Enter action_detail">
                        <small *ngIf="f.action_detail.touched && f.action_detail.invalid" class="error">

                              <div *ngIf="f.action_detail.errors.required">action_detail is required.</div>
                            </small>
            </div>
              <div class="mb-2">
                        <label class="form-label">last_action</label>
                        <input class="form-control" name="last_action" formControlName="last_action" type="text"
                    placeholder="Enter last_action">
                        <small *ngIf="f.last_action.touched && f.last_action.invalid" class="error">

                              <div *ngIf="f.last_action.errors.required">last_action is required.</div>
                            </small>
            </div>

            <div class="mb-2">
                       
                <label for="example-datetime-local-input" class="col-md-2 col-form-label">last_action_date</label>
                <input class="form-control" name="last_action_date" formControlName="last_action_date" type="date">
                        <small *ngIf="f.last_action_date.touched && f.last_action_date.invalid" class="error">

                              <div *ngIf="f.last_action_date.errors.required">last_action_date is required.</div>
                            </small>
            </div>
            <div class="mb-2">
                        <label class="form-label">next_action</label>
                        <input class="form-control" name="next_action" formControlName="next_action" type="text"
                    placeholder="Enter next_action">
                        <small *ngIf="f.next_action.touched && f.next_action.invalid" class="error">

                              <div *ngIf="f.next_action.errors.required">next_action is required.</div>
                            </small>
            </div>

        </div>
          <div class="modal-footer">
                <mat-spinner [diameter]="25" *ngIf="this.processing"></mat-spinner>

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                (click)="modalRef?.hide()">Close</button>
                <button type="submit" class="btn btn-soft-primary  waves-effect waves-light mx-2" mat-raised-button
                [disabled]="!formActivity.valid  || (processing)"       class="btn btn-primary">Submit</button>
              </div>
    </form>
</ng-template>
<!-- Edit new modal activity End -->

<!-- Edit  modal meeting report start -->
<ng-template #editMeetingReport let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="myLargeModalLabel">Edit Meeting Report</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modalRef?.hide()"></button>
    </div>

    <form [formGroup]="formMeetingReport" (ngSubmit)="editMeetingReport()">
        <div class="modal-body">
            <div class="mb-2">
                <label class="form-label">Summary</label>
                <input class="form-control" name="summary" formControlName="summary" type="text"
                    placeholder="Enter summary" />
                <small *ngIf="mr.summary.touched && mr.summary.invalid" class="error">
                    <div *ngIf="mr.summary.errors?.required">Summary is required.</div>
                </small>
            </div>

            <div class="mb-2">
                <label class="form-label">Date</label>
                <input class="form-control" name="date" formControlName="date" type="date" />
                <small *ngIf="mr.date.touched && mr.date.invalid" class="error">
                    <div *ngIf="mr.date.errors?.required">Date is required.</div>
                </small>
            </div>

            <div class="mb-2">
                <label class="form-label">Next Action</label>
                <input class="form-control" name="next_action" formControlName="next_action" type="text"
                    placeholder="Enter next action" />
                <small *ngIf="mr.next_action.touched && mr.next_action.invalid" class="error">
                    <div *ngIf="mr.next_action.errors?.required">
                        Next Action is required.
                    </div>
                </small>
            </div>

            <!-- Optional: Display participants here -->
            <!--
        <div class="mb-2">
          <label class="form-label">Participants</label>
          <ul class="list-group">
            <li *ngFor="let p of selectedMeeting?.paticipants" class="list-group-item">
              {{ p.name }} - {{ p.role }}
            </li>
          </ul>
        </div>
        -->
        </div>

        <div class="modal-footer">
            <mat-spinner [diameter]="25" *ngIf="processing"></mat-spinner>

            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modalRef?.hide()">
                Close
            </button>
            <button type="submit" class="btn btn-soft-primary waves-effect waves-light mx-2"
                [disabled]="!formMeetingReport.valid || processing">
                Submit
            </button>
        </div>
    </form>
</ng-template>
<!-- Edit new modal meeting report End -->

<!-- Add new modal meeting start 
<ng-template #addNewMeeting let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="myLargeModalLabel">Create Meeting</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modalRef?.hide()"></button>
    </div>

    <form [formGroup]="formMeeting">
        <div class="modal-body">
          

            <div class="mb-2">
                <label class="form-label">Date</label>
                <input class="form-control" name="date" formControlName="date" type="date" />
                <small *ngIf="f.date.touched && f.date.invalid" class="error">
                    <div *ngIf="f.date.errors?.required">Date is required.</div>
                </small>
            </div>

    
        </div>

        <div class="modal-footer">
            <mat-spinner [diameter]="25" *ngIf="processing"></mat-spinner>

            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modalRef?.hide()">
                Close
            </button>
            <button type="submit" class="btn btn-soft-primary waves-effect waves-light mx-2"
                [disabled]="!formMeeting.valid || processing">
                Submit
            </button>
        </div>
    </form>
</ng-template>
<!-- Add new modal meeting End -->