 <div class="table-responsive">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th>Created By</th>
                  <th>Created Date</th>
                  <th>Converted Date</th>
                  <th>Last Activity</th>
                  <th>Last Status change</th>
                  <th>Last Update</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{lead.creator.first_name}}</td>
                  <td>{{lead.createdAt}}</td>
                  <td>{{lead.date_converted}}</td>
                  <td>{{lead.last_activity}}</td>
                  <td>{{lead.last_status_change}}</td>
                  <td>{{lead.updatedAt}}</td>
                </tr>
               
               
              </tbody>
            </table>
          </div>