<div class="container-fluid">

    <!-- <div class="row m-2">
        <div class="card">
            <div class="card-body overflow-hidden">
                <h4 class="card-title">Lead: {{lead.name}}</h4>
                <p class="card-title-desc">{{lead.country.name}}</p>
                <div class="row">
                    <div class="col-md-12">
                        <tabset [justified]="true" [vertical]="true" class="nav-pills  custom-vertical-tabs">
                            <tab>
                                <ng-template tabHeading class="mb-2">
                                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                    <span class="d-none d-sm-block">Basic Information</span>
                                </ng-template>
                                <div class="tab-page-content">
                                    <form class="row mb-4" [formGroup]="basicInfoForm">
                                        <div class="mb-3 row">
                                            <label for="example-datetime-local-input"
                                                class="col-md-2 col-form-label font-size-11">Country</label>
                                            <div class="col-md-10">
                                                <select class="form-select" name="country" formControlName="country">
                                                    <option *ngFor="let country of this.getAllCountries()"
                                                        value={{country}}>
                                                        {{country}}</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="mb-3 row">
                                            <label for="example-datetime-local-input"
                                                class="col-md-2 col-form-label font-size-11">Region</label>
                                            <div class="col-md-10">
                                                <input style="cursor: not-allowed;" class="form-control" name="region"
                                                    formControlName="region" type="text" readonly
                                                    value={{this.getRegionByCountry()}}>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="example-text-input"
                                                class="col-md-2 col-form-label font-size-11">Sector</label>
                                            <div class="col-md-10">
                                                <input class="form-control" name="actor_type"
                                                    formControlName="actor_type" type="text"
                                                    value={{this.lead.actor_type}}>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="example-datetime-local-input"
                                                class="col-md-2 col-form-label font-size-11">Owner</label>
                                            <div class="col-md-10">
                                                <input class="form-control" style="cursor: not-allowed;" type="text"
                                                    readonly value={{this.lead.created_by_user_id}}>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="example-datetime-local-input"
                                                class="col-md-2 col-form-label font-size-11">is_private</label>
                                            <div class="col-md-10">
                                                <mat-radio-group name="is_private" formControlName="is_private"
                                                    aria-label="Select an option">
                                                    <mat-radio-button value='Yes'>Yes</mat-radio-button>
                                                    <mat-radio-button value='No'>No</mat-radio-button>
                                                </mat-radio-group>
                                            </div>


                                        </div>
                                        <div class="row mt-4">
                                            <label for="example-datetime-local-input"
                                                class="col-md-2 col-form-label font-size-11"></label>
                                            <div class="col-md-10">
                                                <button class=" text-center btn btn-block btn-lg btn-soft-primary"><i
                                                    class="bx bx-save"></i> Save</button>
                                            </div>


                                        </div>
                                    </form>
                                </div>
                            </tab>
                            <tab>
                                <ng-template tabHeading class="mb-2">
                                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                    <span class="d-none d-sm-block">Contacts</span>
                                </ng-template>
                                <div class="tab-page-content">

                                    <div class="row mx-2">

                                            <div class="row  mb-3 justify-content-end">
                                                    <div class="col-md-3">
                                                        <mat-form-field matTooltip="Enter a prospect name">
                                                            <mat-label>Filter</mat-label>
                                                            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Pacific bank" #input>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-9 text-end">
                                                        <button class="btn btn-soft-primary  waves-effect waves-light mx-2"
                                                        (click)="openCreateNewModalContact(addNewContact)">Add
                                                        Contact</button>
                                                    <button class="btn btn-soft-primary  waves-effect waves-light"
                                                        (click)="exporter.exportTable('csv')">Export Contacts</button>
                                                
                                                    </div>
                                                   


                                            </div>
                                            <table class="smtable" mat-table [dataSource]="dataSourceContact"
                                                multiTemplateDataRows matTableExporter #exporter="matTableExporter"
                                                class="mat-elevation-z8">
                                                <ng-container matColumnDef="{{column}}"
                                                    *ngFor="let column of columnsToDisplayContact">
                                                    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <span *ngIf="column !== 'weight'">{{element[column]}}</span>
                                                        <span *ngIf="column === 'weight'"
                                                            [ngClass]="getWeightClass(element.weight)">
                                                            {{element[column]}}
                                                        </span>
                                                    </td>

                                                </ng-container>
                                                <ng-container matColumnDef="expand">
                                                    <th mat-header-cell *matHeaderCellDef aria-label="row actions">
                                                        &nbsp;</th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <button mat-icon-button aria-label="expand row"
                                                            (click)="toggleExpandContact(element); $event.stopPropagation()">
                                                            <mat-icon
                                                                *ngIf="expandedElementContact !== element">keyboard_arrow_down</mat-icon>
                                                            <mat-icon
                                                                *ngIf="expandedElementContact === element">keyboard_arrow_up</mat-icon>
                                                        </button>
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="expandedDetail">
                                                    <td mat-cell *matCellDef="let element"
                                                        [attr.colspan]="columnsToDisplayWithExpandContact.length">
                                                        <div class="example-element-detail"
                                                            [@detailExpand]="element == expandedElementContact ? 'expanded' : 'collapsed'">

                                                            <div class="row example-element-description">
                                                                <div class="col-7">
                                                                    <div><b>Description</b></div>
                                                                    {{element.description}}



                                                                </div>
                                                                <div class="col-5">
                                                                    <button (click)="openEditModaContact(edit, element)"
                                                                        class="btn btn-soft-info mx-1">
                                                                        <i class="bx bxs-edit"></i>
                                                                    </button>
                                                                    <button class="btn btn-soft-info mx-1">
                                                                        <i class="bx bx-share-alt"></i>
                                                                    </button>
                                                                    <button class="btn btn-soft-danger mx-1">
                                                                        <i class="bx bx-trash"></i>
                                                                    </button>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </td>
                                                </ng-container>

                                                <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpandContact">
                                                </tr>
                                                <tr mat-row
                                                    *matRowDef="let element; columns: columnsToDisplayWithExpandContact;"
                                                    class="example-element-row"
                                                    [class.example-expanded-row]="expandedElementContact === element"
                                                    (click)="expandedElementContact = expandedElementContact === element ? null : element">
                                                </tr>
                                                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
                                                    class="example-detail-row"></tr>
                                            </table>


                                    </div>

                                </div>

                            </tab>
                            <tab>
                                <ng-template tabHeading class="mb-2">
                                    <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                                    <span class="d-none d-sm-block">Description</span>
                                </ng-template>
                                <div class="tab-page-content">
                                    <ckeditor formControlName="long_description" [editor]="Editor"
                                    data=""></ckeditor>
                                    
                                </div>


                            </tab>
                           
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="card">
            <div class="card-body overflow-hidden">
                <div class="row align-items-center justify-content-between mb-3">
                    <div class="col">
                        <h1 class="card-title m-0">{{ this.lead.name }}</h1>
                        <p class="card-title-desc">Manage lead</p>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-danger" matTooltip="close" (click)="gotoLeadManagement()">
                            <i class="bx bx-x"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <tabset [justified]="true" [vertical]="true" class="nav-pills  custom-vertical-tabs">

                            <tab>
                                <ng-template tabHeading>
                                    <span class="d-none d-sm-block tabheading"><i class="bx bx-user"></i> Profile</span>
                                </ng-template>
                                <div class="tab-page-content">
                                    <app-profile-fragment></app-profile-fragment>
                                </div>

                            </tab>

                            <tab>

                                <ng-template tabHeading>
                                    <span class="d-none d-sm-block tabheading"><i class="bx bx-user"></i> Contacts</span>
                                </ng-template>
                                <div class="tab-page-content">
                                        <app-contact-fragment></app-contact-fragment>

                                </div>


                            </tab>
                            <tab>
                                <ng-template tabHeading>
                                    <span class="d-none d-sm-block tabheading"><i class="bx bx-book"></i> Notes</span>
                                </ng-template>
                                <div class="tab-page-content">
                                    <app-note-fragment></app-note-fragment>

                                </div>


                            </tab>
                            <tab>
                                <ng-template tabHeading>
                                    <span class="d-none d-sm-block tabheading"><i class="bx bx-book-open"></i>History</span>
                                </ng-template>
                                <div class="tab-page-content">
                                    <app-history-fragment></app-history-fragment>
                                </div>
                            </tab>
                            
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- app.component.html -->





</div>