<div class="container-fluid">
    <!-- breadcrumb item -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <div class="page-title-left">
                    <ol class="breadcrumb m-0">
                        <ng-container>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">{{product.name}}</a>
                            </li>
                            <li class="breadcrumb-item active">{{product.name}}
                            </li>
                        </ng-container>
                    </ol>
                </div>
                <button class="btn btn-danger" matTooltip="close" (click)="gotoProductManagement()"><i
                        class="bx bx-x"></i></button>

            </div>
        </div>
    </div>
    <!-- form -->
    <form [formGroup]="form">

     <div class="row">
        <div class="col-md-4">
            <div class="card p-5">
              <div class="mb-3 text-center">
                    <img class="rounded me-2" alt="200x200" width="70" src={{product.image}}
                    data-holder-rendered="true">
                     </div>

                <div class="mb-3">
                    <label>Name</label>
                    <input formControlName="name" class="form-control" type="text" />
                </div>
                <div class="mb-3">
                    <label>Category</label>
                    <select class="form-select" formControlName="product_category_id">
                        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="col-md-8">
            <div class="card p-5">
                <div class="mb-3">
                    <label>Short Description</label>
                    <textarea formControlName="short_description" class="form-control"></textarea>
                </div>

                <div class="mb-3">
                    <label>Long Description</label>
                    <ckeditor formControlName="long_description" [editor]="Editor" data="<p>Content of the editor.</p>"></ckeditor>

                </div>
            </div>
        </div>        
     </div>

    </form>


</div>    